body a{outline:none;blr:expression(this.onFocus=this.blur());}
a:focus {
outline: none;
} 
#headPic{
	width: 22px;
	height: 22px;
}
#navMenu{
	width: 100%;
	color: #fff;
	background:#323232 !important;
	
}
.nav li a{
	/* text-transform: uppercase; */
	font-weight: bolder;
}
