	body {
				padding: 20px 0px;
				background: #484848;
				text-align: center;
				color: #fff;
				font-family: arial;
			}
			
			body img {
				width: 100%;
				display: block;
			}
			
			form input {
				width: 94%;
				margin: 0px auto;
				height: 45px;
				font-size: 20px;
				padding-left: 5px;
			}
			
			form input[type=submit] {
				background: #00aaff;
				border: 1px solid #00aaff;
				color: #FFFFFF;
				border-radius: 3px;
				padding-left: 0px;
			}
			
			.faceBook,
			.Google,
			.instagram {
				display: inline-block;
				width: 34px;
				height: 34px;
				margin-top: 40px;
				cursor: pointer;
				text-decoration:none;
			}
			
			.faceBook {
				background: url(../img/samllIocn.png) no-repeat -19px 0px;
			}
			
			.Google {
				background: url(../img/samllIocn.png) no-repeat -71px 0px;
			}
			
			.instagram {
				background: url(../img/samllIocn.png) no-repeat -122px 0px;
			}
			
			.propmt {
				font-size: 22px;
			}