body {
	padding: 0px;
	margin: 0px;
	font-family: arial;
	width: 100%;
}

.product1 img,
.product2 img,
.product3 img,
.product4 img,
.product5 img
 {
	width: 100%;
	display: block;
}

.product1,
.product2,
.product3,
.product4,
.product5
{
	position: relative;
}



.product2 .btn {
	bottom: 54.5%;
	left: 40.5%;
}

.product3 .btn {
	bottom: 36.5%;
	left: 23%;
}

.product4 .btn {
	bottom: 35.5%;
	left: 45%;
}
.product5 .btn {
	bottom: 38.5%;
	left: 22%;
}

.product1 .btn2 {
	border: 1px solid #FFFFFF !important;
	color: #FFFFFF !important;
	bottom: 50.5%;
	left: 37.8%;
}

.product2 .btn2 {
	bottom: 46.5%;
	left: 40.5%;
}

.product3 .btn2 {
	bottom: 21.5%;
	left: 23%;
}

.product4 .btn2 {
	bottom: 20.5%;
	left: 45%;
}
.product5 .btn2 {
	bottom: 24.5%;
	left: 22%;
}



.btn,.btn2 {
	display: inline-block;
	width: 20%;
	height: 28px;
	border: 1px solid #fff;
	line-height: 28px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	border-radius: 4px;
	position: absolute;
	z-index: 99;
	cursor: pointer;
	padding: 0px 10px;
	text-decoration: none;
}

footer {
	width: 100%;
	background: #000;
	height: 125px;
}

.faceBook,
.Google,
.instagram {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-top: 20px;
	cursor: pointer;
}

.faceBook {
	background: url(../img/sanxiao.png) no-repeat 0px 0px;
}

.Google {
	background: url(../img/sanxiao.png) no-repeat -50px 0px;
}



footer p {

	text-align: center;
	margin: 0px auto;
	color: #FFFFFF;
}

footer .copy {
	font-size: 14px;
	padding-top: 10px;
}
@media only screen and (max-width:425px ) {
	
	.btn,.btn2 {
	width: 28%;
	height: 20px;
	border: 1px solid #FFFFFF;
	line-height: 20px;
	
   }
.product2 .btn {
	bottom: 53.5%;
	left: 32.5%;
}

.product3 .btn {
	bottom: 36.5%;
	left: 17.5%;
}

.product4 .btn {
	bottom: 35.5%;
	left: 40%;
}
.product5 .btn {
	bottom: 38.5%;
	left: 16%;
}

.product1 .btn2 {
	border: 1px solid #FFFFFF !important;
	color: #FFFFFF !important;
	bottom: 50.5%;
	left: 33%;
}

.product2 .btn2 {
	bottom: 43.5%;
	left: 32.5%;
}

.product3 .btn2 {
	bottom: 21.5%;
	left: 17.5%;
}

.product4 .btn2 {
	bottom: 20.5%;
	left: 40%;
}
.product5 .btn2 {
	bottom: 24.5%;
	left: 16%;
}
}

